.start-container,
.start-item {
    display: flex;
}

.start-container {
    margin-bottom: 1%;
}

.game-container,
.btn-item {
    display: flex;
    gap: 2%;
}

.tie-score {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}