.start-container,
.start-item {
    display: flex;
}

.start-container {
    margin-bottom: 2%;
}

.game-container,
.btn-item {
    display: flex;
    gap: 2%;
}

.player-score,
.computer-score,
.player-score-number,
.computer-score-number {
    display: inline-block;
}

.player-score-number,
.computer-score-number {
    font-size:xx-large;
}

.player-score-div {
    margin-bottom: -2.5em;
}